<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pacp Stream Analysis Tool</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <div class="py-5 text-center">
            <h2>Result</h2>
        </div>
        <div class="row justify-content-md-center">
            {% for stream in streams.values() %}
            <div class="col-md-8 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Stream Info</h5>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Source IP</th>
                                    <td>{{ stream.src_ip }}</td>
                                </tr>
                                <tr>
                                    <th>Destination IP</th>
                                    <td>{{ stream.dst_ip }}</td>
                                </tr>
                                <tr>
                                    <th>Source Port</th>
                                    <td>{{ stream.sport }}</td>
                                </tr>
                                <tr>
                                    <th>Destination Port</th>
                                    <td>{{ stream.dport }}</td>
                                </tr>
                                <tr>
                                    <th>Protocol</th>
                                    <td>
                                        {{ stream.prname }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="mb-3">
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#a{{ loop.index }}" aria-expanded="false"
                                aria-controls="{{ loop.index }}">
                                Packets (Total {{ stream.pkts|length }})
                            </button>
                            <div class="collapse" id="a{{ loop.index }}">
                                <div class="table-responsive">
                                    <table class="table table-bordered caption-top">
                                        <caption>Packets Detail</caption>
                                        <thead>
                                            <tr>
                                                <th>Time</th>
                                                <th>Size</th>
                                                <th>Content</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for pkt in stream.pkts %}
                                            <tr>
                                                <td>{{ pkt.time }}</td>
                                                <td>{{ pkt[IP].len }}</td>
                                                <td>{{pkt.load.decode(errors='ignore').replace('\n', '<br>')|safe if
                                                    pkt.haslayer('Raw') else ''}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>

</html>